In [5]:
#Reading Excel file
import pandas as pd
covid_df =  pd.read_csv('covid_19_india.csv')
print(covid_df)
print(df.columns)

         Sno       Date     Time State/UnionTerritory ConfirmedIndianNational  \
0          1  1/30/2020  6:00 PM               Kerala                       1
1          2  1/31/2020  6:00 PM               Kerala                       1
2          3   2/1/2020  6:00 PM               Kerala                       2
3          4   2/2/2020  6:00 PM               Kerala                       3
4          5   2/3/2020  6:00 PM               Kerala                       3
...      ...        ...      ...                  ...                     ...
15801  15802   6/8/2021  8:00 AM            Telangana                       -
15802  15803   6/8/2021  8:00 AM              Tripura                       -
15803  15804   6/8/2021  8:00 AM          Uttarakhand                       -
15804  15805   6/8/2021  8:00 AM        Uttar Pradesh                       -
15805  15806   6/8/2021  8:00 AM          West Bengal                       -

      ConfirmedForeignNational    Cured  Deaths  Confirmed
0                            0        0       0          1
1                            0        0       0          1
2                            0        0       0          2
3                            0        0       0          3
4                            0        0       0          3
...                        ...      ...     ...        ...
15801                        -   564303    3394     593103
15802                        -    49579     572      56169
15803                        -   313566    6731     334419
15804                        -  1662069   21333    1699083
15805                        -  1388771   16362    1432019

[15806 rows x 9 columns]
Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [6]:
#Getting the total count wrt to state
covid_df['State/UnionTerritory'].value_counts()

Kerala                                      496
Delhi                                       464
Rajasthan                                   463
Uttar Pradesh                               462
Haryana                                     462
Ladakh                                      459
Tamil Nadu                                  459
Maharashtra                                 457
Jammu and Kashmir                           457
Punjab                                      457
Karnataka                                   457
Andhra Pradesh                              454
Uttarakhand                                 451
Odisha                                      450
Puducherry                                  448
West Bengal                                 448
Chhattisgarh                                447
Chandigarh                                  447
Gujarat                                     446
Madhya Pradesh                              445
Himachal Pradesh                            445
Bihar                                       444
Manipur                                     442
Mizoram                                     441
Andaman and Nicobar Islands                 440
Goa                                         440
Assam                                       434
Jharkhand                                   434
Arunachal Pradesh                           432
Tripura                                     428
Telengana                                   426
Meghalaya                                   421
Dadra and Nagar Haveli and Daman and Diu    397
Nagaland                                    388
Sikkim                                      381
Lakshadweep                                 180
Cases being reassigned to states             60
Telangana                                    38
Unassigned                                    3
Dadra and Nagar Haveli                        2
Daman & Diu                                   1
Name: State/UnionTerritory, dtype: int64

In [8]:
#Filtering the month and summing up the confirmed list wrt to states
covid_df['Months']=pd.to_datetime(df['Date']).dt.to_period('M')
cnt_df = covid_df.groupby(['Months','State/UnionTerritory']).agg({'Confirmed':sum})
cnt_df = cnt_df.reset_index()

In [9]:
cnt_df

      Months         State/UnionTerritory  Confirmed
0    2020-01                       Kerala          2
1    2020-02                       Kerala         86
2    2020-03  Andaman and Nicobar Islands         36
3    2020-03               Andhra Pradesh        163
4    2020-03                        Bihar         73
..       ...                          ...        ...
562  2021-06                    Telangana    4689583
563  2021-06                      Tripura     433065
564  2021-06                Uttar Pradesh   13564550
565  2021-06                  Uttarakhand    2658494
566  2021-06                  West Bengal   11249166

[567 rows x 3 columns]

In [10]:
#writting to csv
cnt_df.to_csv('output_covid_19.csv')